<% content_for :page_title do %>
  <%= join_title t("User Settings"), @user.name %>
<% end %>

<% content_for :right_side do %>
  <% if @current_user.registered? %>
  <%= render :partial => "ways_to_contact" %>
  <div class="rs-margin-lr">
    <hr />
    <a href="#" class="edit_settings_link btn button-sidebar-wide"><i class="icon-edit"></i> <%= t('links.edit_settings', "Edit Settings") %></a>
    <% mfa_settings = @user.mfa_settings(pseudonym_hint: @current_pseudonym) %>
    <% if mfa_settings != :disabled %>
      <a href="<%= otp_login_path %>" class="btn button-sidebar-wide"><%= image_tag "lock.png", :alt => '' %> <%= @user.otp_secret_key ? t('links.reconfigure_mfa', "Reconfigure Multi-Factor Authentication") : t('links.configure_mfa', "Set Up Multi-Factor Authentication") %></a>
    <% end %>
    <% if mfa_settings == :optional && @user.otp_secret_key %>
      <a href="<%= disable_mfa_path('self') %>" class="btn button-sidebar-wide" id="disable_mfa_link"><%= image_tag "unlock.png", :alt => '' %> <%= t('links.disable_mfa', "Disable Multi-Factor Authentication") %></a>
    <% end %>
    <a href="<%= dashboard_content_exports_path %>" class="btn button-sidebar-wide"><i class="icon-download"></i> <%= t("Download Submissions") %></a>
    <% if @current_user.account.feature_allowed?(:epub_export)%>
        <%= link_to  epub_exports_path, class: 'btn button-sidebar-wide' do %>
          <i class="icon-download" aria-hidden='true'></i> <%= t("Download Course Content") %>
        <% end %>
    <% end %>
    <% if show_request_delete_account %>
       <a href="<%= request_delete_account_link %>" class="btn button-sidebar-wide"> <%= t('Delete My Account') %></a>
    <% end %>
  </div>
  <% end %>
<% end %>

<% js_env folder_id: @user.profile_pics_folder.id,
          PASSWORD_POLICY: @domain_root_account.password_policy,
          PASSWORD_POLICIES: Hash[@password_pseudonyms.map{ |p| [p.id, p.account.password_policy]}],
          PROFILE: @user_data,
          INTERNATIONAL_SMS_ENABLED: @user.account.feature_enabled?(:international_sms)
%>
<% js_bundle :profile %>
<% css_bundle :profile_edit %>

<% if service_enabled?(:avatars) %>
  <%= avatar(@user, url: '#', edit: true, class: "profile_pic_link #{@user.avatar_state}", title: t('titles.click_to_change_profile_pic', "Click to change profile pic")) %>
<% end %>
<h1 style="padding-top: 0.3em;"><%= t("%{user}'s Settings", :user => @user.short_name) %></h1>
<div class="clear"></div>
<%= form_for @user, :url => profile_path, :html => {:id => "update_profile_form", :style => "margin-bottom: 20px;", :class => 'form-inline'} do |f| %>
<table class="profile_table">
  <tr>
    <% editable_name = @user.user_can_edit_name? %>
    <td><%= f.blabel :name, :en => "Full Name" %></td>
    <td><span <% unless editable_name %>id="name"<% end %>
              class="full_name <%= editable_name ? 'display_data' : 'edit_or_show_data' %>"><%=h @user.name %></span>
      <%= f.text_field :name, :class => "edit_data", :maxlength => 255, :size => 30, "aria-describedby" => "hints_name" if editable_name %>
      <span id="hints_name" class="edit_or_show_data data_description"><br/><%= t('hints.name', "This name will be used for grading.") %></span>
  </tr>
  <tr>
    <td><%= f.blabel :short_name, :en => "Display Name" %></td>
    <td><span <% unless editable_name %>id="short_name"<% end %>
              class="short_name <%= editable_name ? 'display_data' : 'edit_or_show_data' %>"><%=h @user.short_name %></span>
      <%= f.text_field :short_name, :class => "edit_data", :maxlength => 255, :size => 30, "aria-describedby" => "hints_short_name" if editable_name %>
      <span id="hints_short_name" class="edit_or_show_data data_description"><br/><%= t('hints.short_name', "People will see this name in discussions, messages and comments.") %></span>
    </td>
  </tr>
  <tr>
    <td><%= f.blabel :sortable_name, :en => "Sortable Name" %></td>
    <td><span <% unless editable_name %>id="sortable_name"<% end %>
              class="sortable_name <%= editable_name ? 'display_data' : 'edit_or_show_data' %>"><%=h @user.sortable_name %></span>
      <%= f.text_field :sortable_name, :class => "edit_data", :maxlength => 255, :size => 30, "aria-describedby" => "hints_sortable_name" if editable_name %>
      <span id="hints_sortable_name" class="edit_or_show_data data_description"><br/><%= t('hints.sortable_name', "This name appears in sorted lists.") %></span>
    </td>
  </tr>
  <% active_email_channels = @email_channels.select { |cc| cc.active? } %>
  <% if active_email_channels.length > 1 %>
    <tr>
      <td><label for="default_email_id"><%= before_label(:default_email, "Default Email") %></label></td>
      <td>
        <span class="default_email unique_id display_data"><%=h @default_email_channel.path %></span>
        <select id="default_email_id" name="default_email_id" class="default_email edit_data">
          <% active_email_channels.select.each do |cc| %>
            <option value="<%= cc.id %>" <%= "selected" if cc == @default_email_channel %> ><%=h cc.path %></option>
          <% end %>
        </select>
      </td>
    </tr>
  <% end %>
  <% if available_locales.size > 1 %>
  <tr>
    <td><%= f.blabel :locale, :en => "Language" %></td>
    <td>
      <% no_language = t("System Default (%{language})", :language => available_locales[infer_locale(:root_account => @domain_root_account, :accept_language => request.headers['Accept-Language'])]) %>
      <span class="locale display_data"><%= @user.locale ? available_locales[@user.locale] : no_language %></span>
      <span class="edit_data"><%= f.select :locale, [[no_language, nil]] + available_locales.invert.sort, {:selected => @user.locale}, {:class => 'locale', "aria-describedby" => "hints_language"} %>
      <%= render :partial => 'shared/locale_warning' %>
      <span id="hints_language" style="font-size: 0.8em; color: #888;"><br/><%= t('hints.language', "This will override any browser or account settings.") %></span>
      </span>
    </td>
  </tr>
  <% end %>
  <tr>
    <td><%= f.blabel :time_zone, :en => "Time Zone" %></td>
    <td>
      <span class="time_zone display_data">
        <% if name = @user.time_zone.try(:name) %>
          <%= I18n.send(:translate, I18nTimeZone[name].keyify, name.dup) %>
        <% else %>
          <%= t(:none, "None") %>
        <% end %>
      </span>
      <span class="edit_data"><%= f.time_zone_select :time_zone, I18nTimeZone.us_zones, :model => I18nTimeZone, :default => (@domain_root_account.try(:default_time_zone) || "Mountain Time (US & Canada)") %></span>
    </td>
  </tr>
  <% if @domain_root_account == Account.default %>
    <tr>
      <td colspan="2">
        <div class="edit_data">
          <label for="user_subscribe_to_emails" class="checkbox">
            <%= f.check_box :subscribe_to_emails %>
            <%= t(:subscribe_to_emails, "I want to receive information, news and tips from IBTA Arabia") %>
          </label>
        </div>
      </td>
    </tr>
  <% end %>
  <% if !@password_pseudonyms.empty? %>
  <tr class="edit_data_row select_change_password_row" style="display: none;">
    <td><%= before_label(:password, "Password") %></td>
    <td><label for="change_password_checkbox" class="checkbox"><input type="checkbox" id="change_password_checkbox" name="pseudonym[change_password]" value="1"/><%= t('labels.change_password', "Change Password") %></label></td>
  </tr>
  <% end %>
  <tr class="change_password_row" style="display: none;">
    <td class="nobr"><label for="profile_pseudonym_id"><%= before_label(:password_for, "Password For") %></label></td>
    <td>
      <select name="pseudonym[password_id]" id="profile_pseudonym_id">
        <% @password_pseudonyms.each do |p| %>
          <option value="<%= p.id %>"><%= p.unique_id %></option>
        <% end %>
      </select>
    </td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><label for="old_password"><%= before_label(:old_password, "Old Password") %></label></td>
    <td><input type="password" style="width: 150px;" id="old_password" name="pseudonym[old_password]"/></td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><%= label :pseudonym, :password, before_label(:new_password, "New Password") %></td>
    <td><%= password_field :pseudonym, :password, :value => "", :style => "width: 150px;" %></td>
  </tr>
  <tr class="change_password_row" style="display: none;">
    <td><%= label :pseudonym, :password_confirmation, before_label(:confirm_password, "Confirm Password") %></td>
    <td><%= password_field :pseudonym, :password_confirmation, :value => "", :style => "width: 150px;" %></td>
  </tr>
  <tr class="edit_data_row more_options_link_row" style="display: none;">
    <td colspan="2"><a href="#" class="more_options_link" style="display: none;"><%= t('links.more_options', "more options") %></a></td>
  </tr>

  <tr class="edit_data_row" style="display: none;">
    <td colspan="2">
      <% if @user == @current_user && @user.allows_user_to_remove_from_account?(@domain_root_account, @current_user) %>
        <p><a style="font-size: 0.9em" href="<%= user_delete_url(@user.id) %>" class="admin"><%= t('links.delete_account', "Delete My Account") %> </a></p>
      <% end %>
      <div class="form-actions">
        <button type="button" class="btn cancel_button"><%= t('#buttons.cancel', "Cancel") %></button>
        <button type="submit" class="btn btn-primary"><%= t('buttons.update_settings', "Update Settings") %></button>
      </div>
    </td>
  </tr>
</table>
<% end %>
<% if @current_user.registered? %>
<div style="<%= hidden unless @pseudonyms.length > 1 %> margin-bottom: 20px;">
<h2><%= t('headers.ways_to_log_in', "Ways to Log In") %></h2>
<table class="summary pseudonym_list">
  <thead>
    <tr>
      <th><%= t('headers.organization', "Organization") %></th>
      <th><%= t('headers.login', "Login") %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
<% @pseudonyms.each do |p| %>
  <% if p.first? || p.account_id %>
  <tr id="pseudonym_<%= p.id %>" class="pseudonym">
    <td><%= p.account.name %></td>
    <td><a href="<%= login_url(:host => HostUrl.context_host(p.account)) %>" class="not_external"><%= p.unique_id %></a></td>
    <td>
      <a class="delete_pseudonym_link no-hover" href="<%= profile_pseudonym_url(p.id) %>" style="<%= hidden unless can_do(p, @current_user, :delete) %>" title="<%= t('titles.remove_account_from_profile', "Remove account from this profile") %>"><%= image_tag "delete.png", :alt => t('Remove account from this profile') %></a>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<div style="text-align: center; display: none;">
  <a href="#" class="add"><%= t('links.add_account', "Add Account") %></a>
</div>
</div>

<% if @user.associated_root_accounts.shard(@user).any? { |a| a.feature_enabled?(:allow_opt_out_of_inbox) } %>
<h2><%= t('headers.inbox_opt_out', "Conversations Inbox Opt-out" ) %></h2>
<p>
  <label for="disable_inbox"><input type="checkbox" id="disable_inbox" <%= 'checked' if @user.disabled_inbox? %>/>
  <%= t('labels.disable_inbox', "Disable the Conversation's Inbox unread messages badge and send all conversation messages and notifications via email, ASAP.") %></label>
</p>
<% end %>

<% unless (@domain_root_account && @domain_root_account.service_enabled?(:none)) %>
<a name="registered_web_services"></a>
<h2><%= t('headers.web_services', "Web Services") %></h2>
<p><%= t(:web_services, <<-TEXT)
IBTA Arabia can make your life a lot easier by tying itself in with the web tools
you already use.  Click any of the services in "Other Services" to see what we mean.
TEXT
%></p>
<p>
<input type="checkbox" id="show_user_services" <%= 'checked' if @user.show_user_services %>/> <label for="show_user_services"><%= t('labels.show_user_services', "Let fellow course/group members see which services I've linked to my profile") %></label>
</p>
<% end %>
<div id="profile_pic_dialog" style="display: none;">
  <a href="<%= profile_pics_url %>" class="profile_pics_url" style="display: none;">&nbsp;</a>
  <%= t(:profile_pictures, "Select the image you'd like to use as your profile pic, or upload a new image:") %>
  <div class="profile_pic_list" style="background: #eee; padding: 5px; -moz-border-radius: 5px; margin: 5px 10px;">
    <h3 style="padding-left: 10px; padding-top: 10px;"><%= t('headers.loading_images', "Loading Images...") %></h3>
    <div class="clear"></div>
  </div>
  <a href="#" class="add_pic_link add"><%= t('links.upload_new_image', "Upload a new Image") %></a>
  <%= form_for :attachment, :url => context_url(@user, :context_files_url, :format => 'json'), :html => {:id => "add_pic_form", :style => "display: none;"} do |f| %>
    <input type="hidden" name="format" value="text" />
    <%= f.file_field :uploaded_data %>
    <button type="submit" class="btn btn-small"><%= t('buttons.add_picture_file', "Add File") %></button>
  <% end %>
  <div class="form-actions">
    <button type="button" class="btn cancel_button button-secondary"><%= t('#buttons.cancel', "Cancel") %></button>
    <button type="button" class="btn select_button btn-primary"><%= t('buttons.select_image', "Select Image") %></button>
  </div>
</div>
<% else %>
  <p class="alert alert-info">
    <%= t <<-TEXT, :email => @current_user.email, :wrapper => {'*' => '<a href="' + re_send_confirmation_path(@current_user, @current_user.communication_channel) + '" class="re_send_confirmation_link">\1</a>'}
      Before you can edit your profile, you need to verify your email address (%{email}) by clicking the link in the email we sent you.
      If you don't see it, *click to re-send the email*, and make sure to check your spam box.
    TEXT
    %>
  </p>
<% end %>
